/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #e5e5e5;
}

#hidden {
  display: none;
}

.site {
  max-width: 1140px;
  margin: auto;
}

.edition {
  max-width: 1440px;
  margin: auto;
  height: 59px;
  margin-top: 0px;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans";
  font-size: 16px;
}

.fa-regular {
  padding-right: 13px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px 0;
  padding-top: 50px;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li img {
  width: 19px;
  height: 19px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: transparent;
}

a:hover {
  color: #b1663c;
}

.login-container {
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
}

.bold {
  font-weight: bold;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
}

.projects-edition {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-button {
  background-color: transparent;
  border: none;
  margin-top: 6px;
  cursor: pointer;
}

.projects-edition .fa-regular {
  padding-right: 10px;
  padding-left: 30px;
  font-size: 14px;
}

#project-hidden {
  display: none;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 37px;
  padding-top: 31px;
  margin-bottom: 51px;
}

.categories button {
  margin-right: 10px;
  padding: 0 20px 0 20px;
  height: 37px;
  border-radius: 60px;
  border: 1px solid #1d6154;
  background-color: transparent;
  font-family: "Syne";
  font-size: 16px;
  font-weight: bold;
  color: #1d6154;
  cursor: pointer;
}

.categories .selected {
  background-color: #1d6154;
  color: #fff;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.contact-login {
  padding-top: 150px;
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

#contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: underline;
}

footer {
  max-width: 1440px;
  padding-top: 250px;
  margin: 0 auto;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#modal {
  border-radius: 10px;
  border: none;
  width: 630px;
  padding: 0;
}

.popup {
  padding: 0px 113px 0px 113px;
}

.popup h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  margin-bottom: 46px;
  font-size: 26px;
}

.gallery-edition {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 9px;
  row-gap: 29px;
}

.img-edition {
  height: 103px;
  width: 100%;
}

.closePopup {
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  top: 29px;
  right: 29px;
}

hr {
  border: none;
  height: 1px;
  background-color: #b3b3b3;
  margin: 66px 0px 38px 0px;
}

.second-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Syne";
  font-weight: bold;
  font-size: 14px;
  border: none;
  color: white;
  background-color: #1d6154;
  width: 237px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
  padding-top: 13px;
  padding-bottom: 13px;
  margin: 0px auto 45px auto;
}

.popup figure {
  position: relative;
  width: 77px;
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17px;
  width: 17px;
  background-color: black;
  color: white;
  position: absolute;
  top: 6px;
  right: 5px;
  font-size: 10px;
  border-radius: 2px;
  cursor: pointer;
}

#second-modal {
  border-radius: 10px;
  border: none;
  width: 630px;
  padding: 0;
}

.returnPopup {
  position: absolute;
  top: 26px;
  left: 30px;
  background-color: transparent;
  border: none;
}

.fa-arrow-left {
  font-size: 17px;
}

.closeSecondPopup {
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 30px;
}

#add-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8f1f6;
  height: 180px;
  padding-bottom: 10px;
}

#add-photo i {
  margin-bottom: 13px;
  font-size: 60px;
  padding: 22px 0px 0px 0px;
}

#add-photo button {
  width: 173px;
  height: 36px;
  border-radius: 50px;
  background-color: #cbd6dc;
  color: #306685;
  border: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

#add-photo p {
  padding: 7px 0px 20px 0px;
  font-size: 10px;
}

.label-add {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 10px;
}

#title-modal {
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#second-modal hr {
  margin-top: 57px;
}

select {
  border: none;
  font-family: "Work Sans";
  font-size: 14px;
  color: #444444;
}
